/* 
	Theme Name: Revolution Code Blue
	Theme URL: http://www.revolutiontwo.com/themes/code-blue
	Description: Code Blue is a 3-column Widget-ready theme created for WordPress.
	Author: Brian Gardner
	Author URI: http://www.briangardner.com
	Version: 2.0
	Tags: three columns, fixed width, white, blue, sidebar widgets
	
	The CSS, XHTML and design is released under GPL:
	http://www.opensource.org/licenses/gpl-license.php
	
	Changelog:
		v2.0 - 11.01.08
		First Release of Revolution Code Blue
*/

body {
	background: #1A4E88 url(images/bg.gif) repeat-x;
	color: #202020;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	margin: 0px auto 0px;
	padding: 0px;
	}
	
#wrap {
	background: #FFFFFF;
	margin: 0px auto 0px;
	padding: 0px;
	}
	
/************************************************
*	Hyperlinks									*
************************************************/

a, a:visited {
	color: #2255AA;
	text-decoration: none;
	}
	
a:hover {
	color: #7DAE12;
	text-decoration: underline;
	}
	
a img {
	border: none;
	}
	
/************************************************
*	Header  									*
************************************************/

#header {
	width: 960px;
	height: 50px;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: normal;
	margin: 0px auto 0px;
	padding: 0px;
	overflow: hidden;
	}
	
#header p {
	padding: 0px 0px 5px 0px;
	margin: 0px;
	line-height: 20px;
	}
	
#header h1 {
	color: #FFFFFF;
	font-size: 36px;
	font-family: Times New Roman, Georgia, Trebuchet MS;
	font-weight: normal;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	}
	
#header h1 a, #header h1 a:visited {
	color: #FFFFFF;
	font-size: 36px;
	font-family: Times New Roman, Georgia, Trebuchet MS;
	font-weight: normal;
	margin: 0px;
	padding: 20px 0px 0px 0px;
	text-decoration: none;
	}
	
#header h1 a:hover {
	color: #FFFFFF;
	text-decoration: none;
	}

.headerleft {
	width: 470px;
	float: left;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	}
	
.headerright {
	width: 480px;
	float: right;
	margin: 0px;
	padding: 10px 0px 0px 0px;
	text-align: right;
	}
	
.headerright a, .headerright a:visited {
	color: #FFFFFF;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0px 0px 0px 3px;
	}
	
.headerright a:hover {
	color: #FFFFFF;
	text-decoration: underline;
	}
	
.headerright a img {
	border: none;
	margin: 0px 0px 3px 0px;
	padding: 0px;
	}
	
/************************************************
*	Navbar  									*
************************************************/

#navbar {
	background: #1A4E88;
	width: 960px;
	height: 30px;
	color: #FFFFFF;
	margin: 0px auto 0px;
	padding: 0px 0px 0px 0px;
	}
	
#navbarleft {
	width: 660px;
	height: 30px;
	float: left;
	margin: 0px;
	padding: 0px;
	}
	
#navbarright {
	width: 300px;
	height: 30px;
	float: right;
	margin: 0px;
	padding: 0px;
	text-align: right;
	}
	
#nav {
	margin: 0px;
	padding: 0px;
	list-style: none;
	}
	
#nav ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	}

#nav a {
	color: #FFFFFF;
	display: block;
    font-weight: bold;
    margin: 0px 20px 0px 0px;
	padding: 8px 10px 7px 10px;
	}
	
#nav a:hover {
	background: #4A7EB8;
	color: #FFFFFF;
	display: block;
	text-decoration: none;
    margin: 0px 20px 0px 0px;
	padding: 8px 10px 7px 10px;
	}

#nav li {
	float: left;
	margin: 0px;
	padding: 0px;
	}
	
#nav li li {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 140px;
	}
	
#nav li li a, #nav li li a:link, #nav li li a:visited {
	background: #4A7EB8;
	color: #FFFFFF;
	width: 140px;
	float: none;
	margin: 0px;
	padding: 6px 10px 5px 10px;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	}
	
#nav li li a:hover, #nav li li a:active {
	background: #1A4E88;
	color: #FFFFFF;
	}

#nav li ul {
	position: absolute;
	width: 10em;
	left: -999em;
	}

#nav li:hover ul {
	left: auto;
	display: block;
	}
	
#nav li:hover ul, #nav li.sfhover ul {
	left: auto;
	}
	
/************************************************
*	Content 					     		    * 
************************************************/

#content {
	width: 960px;
	margin: 0px auto 0px;
	padding: 0px 0px 0px 0px;
	}

#content p {
	padding: 0px 0px 10px 0px;
	margin: 0px;
	line-height: 20px;
	}
	
#content h1 {
	color: #2255AA;
	font-size: 24px;
	font-family: Times New Roman, Georgia, Trebuchet MS;
	font-weight: normal;
	margin: 0px;
	padding: 0px 0px 5px 0px;
	}
	
#content h1 a  {
	color: #2255AA;
	text-decoration: none;
	}

#content h1 a:hover {
	color: #7DAE12;
	text-decoration: none;
	}
	
#content h3 {
	color: #2255AA;
	font-size: 24px;
	font-family: Times New Roman, Georgia, Trebuchet MS;
	font-weight: normal;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
	}
	
#content h4 {
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 5px 0px;
	}
	
#content img.wp-smiley {
	float: none;
	border: none;
	padding: 0px;
	margin: 0px;
	}

#content img.wp-wink {
	float: none;
	border: none;
	padding: 0px;
	margin: 0px;
	}
	
#contentleft {
	float: left;
	width: 500px;
	margin: 0px 0px 0px 0px;
	padding: 20px 30px 20px 0px;
	}
	
#contentleft ol {
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 10px 0px;
	}
	
#contentleft ol li {
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 5px 0px;
	}
	
#contentleft ul {
	list-style-type: square;
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 10px 0px;
	}
	
#contentleft ul li {
	list-style-type: square;
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 5px 0px;
	}
	
.date {
	font-size: 11px;
	font-weight: bold;
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 15px 0px;
	border-bottom: 1px dotted #999999;
	}
	
.postmeta {
	width: 500px;
	font-size: 11px;
	font-weight: bold;
	padding: 10px 0px 0px 0px;
	margin: 0px 0px 40px 0px;
	border-top: 1px dotted #999999;
	}
	
blockquote {
	font-style: italic;
	margin: 0px 25px 15px 25px;
	padding: 0px 25px 0px 10px;
	border-left: 2px solid #4A7EB8;
	}
	
#content blockquote p {
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 10px 0px;
	}
	
/************************************************
*	Images  					     		    * 
************************************************/

img.centered  {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 0px;
	}
	
img.alignnone {
	padding: 0px;
	margin: 0px 0px 10px 0px;
	display: inline;
	}

img.alignright {
	padding: 0px;
	margin: 0px 0px 10px 10px;
	display: inline;
	}

img.alignleft {
	padding: 0px;
	margin: 0px 10px 10px 0px;
	display: inline;
	}
	
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

.alignright {
	float: right;
	}

.alignleft {
	float: left;
	}
	
.wp-caption {
	margin: 0px;
	padding: 0px;
	}
	
.wp-caption img {
	margin: 0px 0px 10px 0px;
	padding: 0px;
	border: 0px;
	}

.wp-caption p.wp-caption-text {
	margin: 0px;
	padding: 5px 0px 0px 0px;
	font-size: 10px;
	font-style: italic;
	font-weight: bold;
	line-height: 12px;
	}
	
/************************************************
*	Left Sidebar 					     	    * 
************************************************/

#l_sidebar {
	float: left;
	width: 300px;
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 20px 10px;
	line-height: 20px;
	}
	
#l_sidebar h2 {
	background: #FFFFFF url(images/headline_left.gif);
	width: 150px;
	color: #FFFFFF;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	text-transform: uppercase;
	margin: 10px 0px 5px 0px;
	padding: 3px 0px 3px 10px;
	}
	
#l_sidebar h2 a {
	color: #FFFFFF;
}
	
#l_sidebar p {
	padding: 0px 0px 0px 0px;
	margin: 0px;
	line-height: 20px;
	}
	
#l_sidebar ul {
	list-style-type: none;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	}
	
#l_sidebar ul li {
	list-style-type: none;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	}

#l_sidebar ul ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}
	
#l_sidebar ul li li {
	background: #FFFFFF url(images/arrow.gif) no-repeat top left;
	padding: 0px 0px 0px 15px;
	margin: 0px;
	}
	
#l_sidebar ul li ul li {
	background: #FFFFFF url(images/arrow.gif) no-repeat top left;
	padding: 0px 0px 0px 15px;
	margin: 0px;
	}
	
/************************************************
*	Right Sidebar 					     	    * 
************************************************/
	
#r_sidebar {
	float: right;
	width: 250px;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 20px 0px;
	line-height: 20px;
	}
	
#r_sidebar h2 {
	background: #FFFFFF url(images/headline_right.gif);
	color: #FFFFFF;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	text-transform: uppercase;
	margin: 10px 0px 5px 0px;
	padding: 3px 0px 3px 10px;
	}

#r_sidebar p {
	padding: 0px 0px 0px 0px;
	margin: 0px;
	line-height: 20px;
	}
	
#r_sidebar ul {
	list-style-type: none;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	}
	
#r_sidebar ul li {
	list-style-type: none;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	}

#r_sidebar ul ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}
	
#r_sidebar ul li li {
	background: #FFFFFF url(images/arrow.gif) no-repeat top left;
	padding: 0px 0px 0px 15px;
	margin: 0px;
	}
	
#r_sidebar ul li ul li {
	background: #FFFFFF url(images/arrow.gif) no-repeat top left;
	padding: 0px 0px 0px 15px;
	margin: 0px;
	}
	
/************************************************
*	Footer Background							*
************************************************/

#footerbg {
	background: #1A4E88;
	}
	
/************************************************
*	Footer  									*
************************************************/

#footer {
	width: 960px;
	height: 30px;
	color: #FFFFFF;
	margin: 0px auto 0px;
	padding: 0px;
	}
	
#footer p {
	color: #FFFFFF;
	font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
	margin: 0px;	
	padding: 0px;
	}

#footer a {
	color: #FFFFFF;
	text-decoration: none;
	}
	
#footer a img {
	border: none;
	margin: 0px;
	padding: 0px;
	}

#footer a:hover {
	color: #FFFFFF;
	text-decoration: underline;
	}
	
.footerleft {
	width: 700px;
	float: left;
	margin: 0px;
	padding: 8px 0px 8px 0px;
	}
	
.footerright {
	width: 250px;
	float: right;
	margin: 0px;
	padding: 8px 0px 8px 0px;
	text-align: right;
	}
	
/************************************************
*	Search Form									*
************************************************/

#searchdiv {
	margin: 0px;
	padding: 0px;
	}
	
#searchform {
	margin: 0px;
	padding: 4px 0px 0px 0px;
	}
	
#s {
	background: #FFFFFF;
	width: 210px;
	color: #333333;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	padding: 3px;
	margin: 0px 0px 0px 0px;
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-left: 1px solid #999999;
	border-bottom: 1px solid #999999;
	}
	
#sbutt {
	background: #1A4E88 url(images/submit.png);
	color: #FFFFFF;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	padding: 1px;
	margin: 0px;
	border: 1px solid #FFFFFF;
	}
	
/************************************************
*	Comments									*
************************************************/
	
#commentblock {
	width: 500px;
	float: left;
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 0px 0px;
	line-height: 20px;
	}
	
.commentleft {
	width: 150px;
	float: left;
	padding: 0px 20px 0px 0px;
	margin: 0px 0px 0px 0px;
	}
	
.commentright {
	width: 300px;
	float: right;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	}
	
#commentblock ol {
	margin: 0px 5px 0px 20px;
	padding: 0px 0px 10px 0px;
	}
	
#commentblock ol li {
	margin: 0px;
	padding: 0px;
	}
	
.commentdate {
	font-size: 12px;
	padding-left: 0px;
	}
	
#commentlist li p {
	margin-bottom: 8px;
	line-height: 20px;
	padding: 0px;
	}

.commentname {
	color: #333333;
	margin: 0px;
	padding: 5px 5px 5px 0px;
	}

.commentinfo {
	clear: both;
	}
	
#name, #email, #url {
	background: #EAEAEA !important;
	color: #202020;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	margin: 0px;
	padding: 4px;
	border-top: 1px solid #666666;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #666666;
	border-bottom: 1px solid #DDDDDD;
	}
	
#words {
	background: #EAEAEA !important;
	width: 460px;
	color: #000000;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	padding: 4px;
	margin: 0px;
	border-top: 1px solid #666666;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #666666;
	border-bottom: 1px solid #DDDDDD;
	}
	
#submit {
	background: #1A4E88 url(images/submit.png);
	color: #FFFFFF;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	text-transform: uppercase;
	padding: 3px;
	margin: 0px;
	border: 1px solid #1A4E88;
	}